/* Stili universali */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Dark-mode */
HTML, header, main, footer {
    background-color: black;
    color: white;
}

/******************** Stili MAIN ********************/
/* Display immagine */
#container {
    margin-top: 1rem;
    width: 100%;
}
.card {
    display: none;
}
img {
    height: 80vh;
}
.displayedCard {
    display: flex;
    justify-content: center;
    position: relative;
}
span {
    border: 2px solid black;
    border-radius: 1rem;
    position: absolute;
    padding: 0.2rem;
    width: 30%;
    text-align: center;
    background-color: black;
    opacity: 40%;
}
#imgTitle{
    font-size: 1.5rem;
    top: 5%
}
#imgDescription{
    font-size: 0.8rem;
    bottom: 10%
}

/* Navbar */
#slider {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    position: absolute;
    top: 78%;
}
button {
    height: 1.5rem;
    width: 5rem;
    background-color: rgb(0, 0, 0);
    opacity: 30%;
    color: white;
    border-radius: 1rem;
}
button:hover {
    color: black;
    background-color: white;
    opacity:100%
}
